/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  max-width: 980px;
  padding: 0 15px;
}
.container .text-muted {
  margin: 20px 0;
}

.button-next{
  margin-top: 50px;
}

.topcorner{
   z-index: 1000;
   position: sticky;
   top: 50px;
   left: 90%;
   width: 150px;
   border-radius: 0;
   background-color: rgba(255, 255, 255, 0.2);
   color: #000;
  }
